body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:

button {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

.header {
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: #fff;
    width: 100vw;
    box-shadow: 10px 4px 30px rgba(211, 215, 221, 0.25);
}

.nav_button {
    position: absolute;
    -webkit-appearance: none;
    padding: 0;
    box-sizing: border-box;
    right: 10px;
    z-index: 2;
    top: 17px;
    border: 0;
    height: 40px;
    font-size: 20px;
    -webkit-transition: background-color .3s width .3s height .3s ease-in-out;
    -moz-transition: background-color .3s width .5s height .3s ease-in-out;
    -o-transition: background-color .3s width .5s height .3s ease-in-out;
    transition: background-color .3s width .5s height .3s ease-in-out;
    width: 40px;
    background-color: #417DF9;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.nav_button:hover {
    background-color: rgb(8, 38, 121);
    height: 45px;
    width: 45px;
}

.top {
    transform: rotateZ(45deg) translateY(2px) translateX(5px);
}

.middle {
    display: none;
    
}

.bottom { 
    transform: rotateZ(-45deg) translateY(0px) translateX(3px);
}


#top, #middle, #bottom {
    width: 70%;
    border-radius: 2px;
    border: 1.5px solid #fff;
    padding: 0;
    margin: auto;
    margin-bottom: 5px;
}


#top {
    margin-top: 5px;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

#middle {
    -webkit-transition: display .3s ease-in-out;
    -moz-transition: display .3s ease-in-out;
    -o-transition: display .3s ease-in-out;
    transition: display .3s ease-in-out;
}

#bottom {
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.logo_div {
    width: 100%;
    max-width: 300px;
    height: 73px;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
}

.logo_image {
    width: 22%;
    height: 70%;
    margin: auto;
    margin-right: 1px;
    margin-left: 1px;
    max-width: 55px;
    max-height: 60px;
}

.logo_image img {
    max-width: 100%;
    max-height: 100%;
}

.logo_text {
    width: 70%;
    height: 50%;
    font-size: 16px;
    max-width: 250px;
    margin: auto;
    margin-top: 21px;
    margin-left: 1px;
}

.logo_text h2 {
    width: 90%;
    font-weight: normal;
    margin: auto;
}

.dsc_blue {
    line-height: normal;
    color: #417DF9;
    font-weight: 1000;
}

.nav {
    width: 100vw;
    height: 100vh;
    -webkit-transition: margin-left 1s ease-in-out;
    -moz-transition: margin-left 1s ease-in-out;
    -o-transition: margin-left 1s ease-in-out;
    transition: margin-left 1s ease-in-out;
    margin-left: 100%;
    top: 0;
    background-color: #fff;
    left: 0;
    text-align: center;
    position: fixed;
}

.nav_item {
    -webkit-transition: border-bottom .2s ease-in-out;
    -moz-transition: border-bottom .2s ease-in-out;
    -o-transition: border-bottom .2s ease-in-out;
    transition: border-bottom .2s ease-in-out;
    height: 10.28%;
}

.nav_item:hover {
    border-bottom: 2px solid #417DF9;
}

.nav_item a {
    display: block;
    display: block;
    width: 100%;
    height: 100%;
}

.nav_item a:link {
    color: inherit;
}

.nav_item a:hover {
    color: blue;
}

.nav_item a:active {
    color: #417DF9;
}

.home_container {
    background-color: #FCFCFC;
}

#home {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: space-between;
}

.landing_image {
    width: 70vw;
    max-width: 250px;
    margin: auto;
    margin-top: 30%;
    height: 50vh;
}

.landing_image img {
    max-width: 100%;
    max-height: 100%;
}

.landing_text {
    width: 100%;
    margin-bottom: 30px;
    max-width: 400px;
}

.big_words_motto {
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}

.big_words_motto h3:first-of-type {
    margin-bottom: 0;
    color: #333;
}

.big_words_motto h3:last-of-type {
    margin-top: 0;
}

.home_text {
    text-align: center;
    margin: auto;
    max-width: 350px;
    color: #333;
    font-size: 18px;
}

.twitter_link {
    width: 70%;
    margin: auto;
    font-size: 16px;
    max-width: 250px;
    height: 60px;
    font-weight: bold;
    color: #417DF9;
    border: 0;
    margin-bottom: 50px;
    box-sizing: border-box;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 60px 107px rgba(37, 37, 37, 0.15); 
}

#about {
    text-align: center;
}

.about_heading {
    margin-top: 10px;
    color: #333;
}

.bold {
    font-weight: bold;
}

.about_heading h2 {
    font-weight: normal;
}

.about_text {
    max-width: 300px;
    margin: auto;
    color: #343842;
    letter-spacing: 0.02em;
}

.about_social_media_link{
    margin-bottom: 10px;
}

.about_social_media_link_button {
    padding: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    -webkit-transition: background-color .3s color .3s ease-in-out;
    -moz-transition: background-color .3s color .3s ease-in-out;
    -o-transition: background-color .3s color .3s ease-in-out;
    transition: background-color .3s color .3s ease-in-out;
    background-color: transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-size: 25px;
    margin: 2px;
}

.about_social_media_link_button:hover {
    background-color: #417DF9;
    color: #fff;
    border: 0;
}


.dsc_lead_profile {
    height: 120px;
    margin: auto;
    margin-bottom: 50px;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.dsc_lead_profile_picture {
    width: 40%;
}

.dsc_lead_profile_picture img {
    max-width: 100%;
    max-height: 100%;
}

.dsc_lead_profile_info {
    margin: auto;
    width: 60%;
}

.dsc_lead_profile_info>* {
    margin: 0;
}

.dsc_lead_profile_info h5 {
    font-size: 14px;
    font-weight: bold;
}

.dsc_lead_profile_info h6 {
    font-size: 12px;
    font-weight: normal;
}

#core_team {
    margin-top: 20px;
    margin-bottom: 50px;
}

.core_team_heading {
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px; 
}

.core_team_heading h2 {
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 10px;
}
 
.core_team_heading h5 {
    margin: 0;
}

.core_team_members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.core_team_individual {
    padding: 5px;
    width: calc(100% - 10px);
    position: relative;
}

.core_team_individual> div:nth-child(1) {
    max-width: 200px;
    position: relative;
    margin: auto;
    height: 160px;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: #FBFBFB;
}

.core_team_individual__more_info {
    position: absolute;
    text-align: center;
    width: 200px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    height: 251px;
    background-color: #417DF9;
    box-shadow: 0 20px 50px 0 #417DF9;
    margin: auto;
    color: #fff;
}

.core_team_individual__more_info h4 {
    margin-bottom: 5px;
}

.core_team_individual__more_info p:first-of-type {
    margin-top: 0;
}

.core_team_individual__more_info p:nth-of-type(2) {
    font-size: 16px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.core_team_individual__more_info .about_social_media_link {
    margin-top: 30px;
}

.core_team_individual__more_info .about_social_media_link>* {
    color: #fff;
    width: 40px;
    font-size: 18px;
    height: 40px;
    border: 1px solid #fff;
}

.core_team_individual__more_info:hover {
    opacity: 1;
}

.core_team_individual_image {
    border-radius: 80px;
    width: 150px;
    height: 150px;
    margin: auto;
}

.core_team_individual_image img {
    border-radius: 80px;
    width: 150px;
    height: 150px;
}

.core_team_individual_info {
    text-align: center;
    width: 200px;
    height: 80px;
    margin: auto;
}

.core_team_individual_info p:first-of-type {
    font-weight: bold;
    font-size: 15px;
}

.core_team_individual_info p:last-of-type {
    font-size: 16px;
}

#blog {
    background-image: url("../images/Rectangle 2.png");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 5px;
    background-repeat: no-repeat;
}

.blog_heading {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.blog_container {
    width: 90%;
    margin: auto;
    max-width: 300px;
    margin-bottom: 50px;
}

.blog_title {
    margin-bottom: 10px;
    width: 90%;
    border-bottom: 1px solid #fff;
}

.blog_title h3, .blog_title p {
    margin: 5px;
}


.medium_blog_button {
    margin: auto;
    width: 150px;
    display: flex;
    height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 40px;
    margin-bottom: 50px;
}

.medium_blog_button p {
    margin-top: 10px;
    height: 50%;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-left: 15px;
    margin-right: 5px;
}

.medium_blog_button i {
    font-size: 22px;
}

#contact_us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.contact_us_image_container {
    width: 80%;
    margin: auto;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contact_us_heading {
    max-width: 200px;
    margin: auto;
}

.contact_us_image {
    max-width: 350px;
    height: 230px;
    margin: auto;
}

.contact_us_image img {
    max-width: 100%;
    max-height: 100%;
}

.contact_us_form {
    padding: 10px;
    width: 80%;
    margin: auto;
}

.contact_us_form form {
    padding: 10px;
}

.contact_us_form input[type='text'], .contact_us_form input[type='email'], .contact_us_form input[type='tel'] {
    width: 100%;
    max-width: 280px;
    -webkit-appearance: none;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid gray;
    margin-bottom: 15px;
}

input:active {
    border: 1px solid #417DF9;
}

.contact_us_form textarea {
    font-family: 'Montserrat', sans-serif;
    height: 110px;
    width: 97%;
    border-radius: 5px;
    -webkit-appearance: none;
    max-width: 275px;
    margin-bottom: 15px;
}

.contact_us_form input[type='submit'] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 285px;
    height: 40px;
    background-color: #417DF9;
    color: #FFF;
    border: 0;
    border-radius: 50px;
    -webkit-appearance: none;
}


/******
  PROJECTS PAGE
*********************/

.project_heading, .members_heading {
    padding-left: 10px;
    color: #333333;
    font-weight: bold;
    margin-top: 30%;
    margin-bottom: 30px;
}

.project_heading h1, .members_heading h1 {
    margin-bottom: 2px;
}

.project_heading p, .members_heading p {
    margin-top: 2px;
}

.projects {
    display: flex;
    width: 99%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    box-shadow: 0px 70px 80px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    position: relative;
    max-width: 300px;
    height: 300px;
    margin: auto;
    color: #000;

}

#one {
    background-position: center;
    margin-bottom: 20px;
    background-size: 150% 190%;
    background-repeat: no-repeat;
    background-image: url('../images/market.png');
}

#two {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-image: url('../images/camera.png');
}

#three {
    background-position: center;
    background-size: 100% 100%;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url('../images/telephone.png');
}

.categories {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: auto;
}

.category {
    background-color: #fff;
    height: 25px;
    margin: 10px;
    padding: 8px;
    width: auto;
    min-width: 60px;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.project_info {
    width: 95%;
    padding-bottom: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    color: #fff;
}

.project_name {
    width: 65%;
}

.project_name>* {
    margin: 0;
}

.project_link {
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin: auto;
    border-radius: 40px;
    border: 1px solid #fff;
    text-align: center;
}

.project_link svg {
    width: 80%;
    height: 50%;
}

.members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.member_info {
    padding: 5px;
    background-color: rgb(241, 241, 241);
    width: calc(100% - 10px);
    max-width: 230px;
    margin: auto;
    margin-bottom: 10px;
}

.member_image {
    width: 80%;
    border-radius: 80px;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}

.member_image img {
    max-width: 100%;
    max-height: 100%;
}

.member_dets {
    margin-top: 10px;
    text-align: center;
}

.member_dets p{
    margin: 3px;
}

@media (min-width: 450px) {
    .logo_image {
        margin-left: 10px;
    }

    .landing_image {
        max-width: 300px;
    }

    .landing_text {
        margin: auto;
    }

    .about_text {
        max-width: 400px;
    }

    .blog_container {
        max-width: 500px;
    }

    .blog_title {
        width: 100%;
    }

    .contact_us_image_container {
        height: 400px;
    }

    .contact_us_heading {
        margin-left: 35px;
        max-width: 250px;
    }

    .contact_us_image {
        width: 90%;
        max-width: 400px;
        margin: auto;
        height: 300px;
    }

    .contact_us_image img {
        max-width: 100%;
        max-height: 100%;
    }

    .contact_us_form {
        width: 90%;
        max-width: 350px;
    }

    .contact_us_form label:first-of-type {
        width: 60%;
        display: inline-block;
    }

    .contact_us_form input[type='text'] {
        width: 48%;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    .contact_us_form input[type='submit'], .contact_us_form textarea, .contact_us_form input[type='email'], .contact_us_form input[type='tel'] {
        max-width: 322px; 
        margin-bottom: 20px;
    }
    
    .project_heading, .members_heading {
        margin-top: 90px;
    }
    
}

@media (min-width: 600px) and (max-width: 767px) {
    .project {
        max-width: 250px;
        height: 250px; 
    }
}

@media (min-width: 650px) {
    #home {
        max-width: 900px;
        margin: auto;
        margin-top: 80px;
        flex-direction: row-reverse;
    }

    .landing_image {
        width: 35%;
        margin: auto;
        margin-top: 10px;
        height: 50%;
        max-height: 250px;
        max-width: 250px;
    }

    .landing_image img {
        max-width: 100%;
    }
    
    .landing_text {
        margin-top: 10px;
        width: 65%;
    }

    .big_words_motto {
        text-align: left;
    }

    .home_text {
        text-align: justify;
    }

    .twitter_link {
        margin-top: 30px;
    }

    .about_text {
        max-width: 500px;
    }

    .core_container {
        width: 80%;
        max-width: 900px;
        margin: auto;
    }

    .core_team_heading {
        text-align: justify;
        margin-left: 0;
    }

    .core_team_members {
        width: 100%;
    }

    .core_team_individual {
        max-width: 180px;
    }

    #blog {
        min-height: 450px;
    }

    .blog_container {
        max-width: 900px;
    }

    .blog_title {
        margin-bottom: 30px;
    }

    #contact_us,.projects, .members, .member_container, .core_container, .project_container {
        max-width: 900px;
        margin: auto;
    }

    .contact_us_image_container {
        width: 55%;
        max-width: 370px;
    }

    .contact_us_heading {
        width: 90%;
        max-width: 300px;

    }

    .contact_us_form {
        width: 40%;
        align-content: flex-end;
        max-width: 350px;
        margin-top: 30px;
    }

    #about, #core_team, #contact_us {
        margin-top: 50px;
    }

    .project {
        max-width: 280px;
    }

    .member_info {
        max-width: 200px;
    }

}


@media (min-width: 850px) {
    .nav_button {
        display: none;
    }
   
    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    .logo_div {
        width: 40%;
        margin: auto;
    }

    .nav {
        max-width: 600px;
        margin-left: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 60%;
        color: #343842;
        height: 60px;
        margin: auto;
        margin-top: 10px;
    }
    
    .nav_item {
        width: auto;
        height: 100%;
    }

    #home {
        height: 600px;
    }

    .landing_image {
        margin: auto;
        margin-top: 113px;
        max-width: 300px;
        max-height: 300px;
    }

    .landing_text {
        max-width: 634px;
        margin-top: 128px;
    }

    .big_words_motto {
        font-weight: bold;
        line-height: 43px;
        font-size: 30px;
        max-width: 500px;
    }

    .home_text {
        max-width: 500px;
    }

    .about_heading {
        font-weight: thin;
        line-height: normal;
        font-size: 25px;
    }

    .about_text {
        width: 90%;
        max-width: 600px;
    }

    .core_team_heading {
        font-weight: bold;
        color: #333333;
    }

    #blog {
        min-height: 550px;
    }

    .contact_us_heading {
        line-height: 25px;
        color: #333333;
        font-size: 25px;
    }

    .contact_us_heading P {
        margin-bottom: 0;
    } 

    .project_heading, .members_heading {
        font-weight: bold;
    }

}








